{% extends 'base.html' %}

{% block title %}Kaifer &mdash; Admin Menú{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}"> {% endblock %}
{% block header_banner %}
<div id="fh5co-header" class="fh5co-cover js-fullheight" style="background-image: url({{ url_for('static', filename='images/cafe_portada_3.jpeg') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="display-t js-fullheight">
					<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
						<h1>Administración <em>del</em> Menú</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<script>
        function togglePopup(id) {
            const overlay = document.getElementById('popupOverlay' + id);
            overlay.classList.toggle('show');
        }
</script>

<div class="fh5co-section">
	<button class="btn-open-popup" onclick="togglePopup(1)">
      Nuevo Plato
	</button>
	<div class="container">
		<div class="row">
			<div class="overlay-container" id="popupOverlay1">
				<div class = "blocker">
					<form class = "form-container" action="{{ url_for('menu.admin_menu') }}" method="post" enctype="multipart/form-data">
					<div class="row form-group">
						<div class="col-md-12">
							<label>Nombre del plato</label>
							<input type="text" name="plato" class="form-control" placeholder="Nombre del plato" required>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label>Precio</label>
							<input type="number" name="precio" class="form-control" placeholder="Precio" min="0" step="0.01" required>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label>Descripción</label>
							<input type="text" name="descripcion" class="form-control" placeholder="Descripción" required>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label>Restricciones alimenticias</label>
							<input type="text" name="restricciones_alimenticias" class="form-control" placeholder="Restricciones alimenticias">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label>Imagen de representación(jpeg)</label>
							<input type="file" name="plate_image" class="form-control" accept="image/jpeg" required/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-outline btn-lg">Agregar Plato</button>
						</div>
					</div>
					
					</form>
					<button class="btn-close-popup" 
                	onclick="togglePopup(1)">
              		Cerrar
              		</button>
				</div>
				
				
			</div>
			
		</div>
		<div class="row" style="margin-top: 40px;">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Menú actual</h2>
			</div>
			<div class="scrollable-table">
				<table class="table table-striped" id="menu-table">
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Descripción</th>
							<th>Restricciones</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody class="list list-font-color">
					{% for plato in menu %}
						<tr class="list-font-color">
							<td><img src="{{ url_for('static', filename='images/platos/plate_image_' + plato.plato + '.jpeg') }}" alt="No se pudo cargar imagen" class="img-responsive" width="100" height="100"></td>
							<td>{{ plato.plato }}</td>
							<td>${{ plato.precio }}</td>
							<td>{{ plato.descripcion }}</td>
							<td>{{ plato.restricciones_alimenticias }}</td>
							<td>
								<a href="{{ url_for('menu.delete_menu_item', plato_id=plato.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
								<a href="{{ url_for('menu.editar_plato', plato_id=plato.id) }}" class="btn btn-warning btn-sm">Editar</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>






<div class="fh5co-section">
	<button class="btn-open-popup" onclick="togglePopup(2)">
      Nuevo Servicio
	</button>
	<div class="container">
		<div class="row">
			<div class="overlay-container" id="popupOverlay2">
				<div class = "blocker">
					<form action="{{ url_for('servicios-extra.admin_servicios_extra') }}" method="post" enctype="multipart/form-data" class="form-container">
					<div class="row form-group">
						<div class="col-md-12">
							<label>Nombre del servicio</label>
							<input type="text" name="nombre_servicio" class="form-control" placeholder="Nombre del servicio" required>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label>Descripción</label>
							<input type="text" name="descripcion" class="form-control" placeholder="Descripción">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label>Imagen de representación(jpeg)</label>
							<input type="file" name="service_image" class="form-control" accept="image/jpeg" required/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-outline btn-lg">Agregar Servicio</button>
						</div>
					</div>
					
				</form>
				<button class="btn-close-popup" 
				onclick="togglePopup(2)">
				Cerrar
				</button>
				</div>
				
			</div>
			
		</div>

		<div class="row" style="margin-top: 40px;">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Servicios extra</h2>
			</div>
			<div class="scrollable-table">
				<table class="table table-striped" id="service-table">
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody class="list">
					{% for servicio in servicios_extra %}
						<tr>
                           <td><img src="{{ url_for('static', filename='images/servicios-extra/service_image_' + servicio.nombre_servicio + '.jpeg') }}" alt="No se pudo cargar imagen" class="img-responsive" width="100" height="100"></td>
							   <td>{{ servicio.nombre_servicio }}</td>
							   <td>{{ servicio.descripcion }}</td>
							<td>
								<a href="{{ url_for('servicios-extra.delete_servicio_extra', servicio_extra_id=servicio.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
								<a href="{{ url_for('servicios-extra.editar_servicio_extra', servicio_extra_id=servicio.id) }}" class="btn btn-warning btn-sm">Editar</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<div class="fh5co-section">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2>Listado de reservas</h2>
            </div>
            
            <div class="scrollable-table">
                <table class="table table-striped" id="reservas-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID Usuario</th> <th>Mesas Solicitadas</th>
                            <th>Fecha y Hora</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                    {% for reserva in reservas %}
                        <tr>
                            <td>#{{ reserva.id }}</td>
                            
                            <td><strong>{{ reserva.id_usuario }}</strong></td>
                            
                            <td>{{ reserva.mesas }} {{ 'mesa' if reserva.mesas == 1 else 'mesas' }}</td>
                            
                            <td>{{ reserva.fecha_reserva }}</td>
                            
                            <td>
                                {% if reserva.estado_reserva == 'pendiente' %}
                                    <span class="label label-warning" >Pendiente</span>
                                {% elif reserva.estado_reserva == 'confirmada' %}
                                    <span class="label label-success">Confirmada</span>
                                {% else %}
                                    <span class="label label-danger">Cancelada</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="fh5co-section">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2>Listado de reseñas</h2>
            </div>
            
            <div class="scrollable-table">
                <table class="table table-striped" id="resenas-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID Usuario</th>
                            <th>Contenido</th>
                            <th>Estrellas</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                    {% for resena in resenas %}
                        <tr>
                            <td>#{{ resena.id }}</td>
                            
                            <td><strong>{{ resena.id_usuario }}</strong></td>
                            
                            <td>{{ resena.contenido }}</td>
                            
                            <td>{{ resena.estrellas }}</td>

							<td>
								<a href="{{ url_for('reviews_bp.delete_resena', id=resena.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
							</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





{% endblock %}



