{% extends 'base.html' %}

{% block title %}Kaifer &mdash; Galería{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/zoomerang.js') }}"></script>
{% endblock %}

{% block header_banner %}
<div id="fh5co-header" class="fh5co-cover js-fullheight" style="background-image: url({{ url_for('static', filename='images/cafe_portada_2.jpeg') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="display-t js-fullheight">
					<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
						<h1>Mirá  <em>Nuestra</em> Galería </h1>
						<h2>Fotos de nuestra cafetería</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

<div id="fh5co-gallery" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Nuestra Galería</h2>
				<div class="row">
					<div class="col-md-6">
						<p>Conocé los rincones de Kaifer, nuestros platos y momentos especiales.</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-3 fh5co-gallery_item">
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_1.jpeg') }});" data-trigger="zoomerang"></div>
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_3.jpeg') }});" data-trigger="zoomerang"></div>
			</div>
			<div class="col-md-6 col-sm-6 fh5co-gallery_item">
				<div class="fh5co-bg-img fh5co-gallery_big" style="background-image: url({{ url_for('static', filename='images/cafe_1_1.jpg') }});" data-trigger="zoomerang"></div>
			</div>
			<div class="col-md-3 col-sm-3 fh5co-gallery_item">
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_5.jpeg') }});" data-trigger="zoomerang"></div>
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_5_1.jpeg') }});" data-trigger="zoomerang"></div>
			</div>

			<div class="col-md-3 col-sm-3 fh5co-gallery_item">
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_7.jpeg') }});" data-trigger="zoomerang"></div>
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/acerca_2.jpg') }});" data-trigger="zoomerang"></div>
			</div>
			<div class="col-md-3 col-sm-3 fh5co-gallery_item">
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_portada_1.jpeg') }});" data-trigger="zoomerang"></div>
				<div class="fh5co-bg-img" style="background-image: url({{ url_for('static', filename='images/cafe_portada_2.jpeg') }});" data-trigger="zoomerang"></div>
			</div>
			<div class="col-md-6 col-sm-6 fh5co-gallery_item">
				<div class="fh5co-bg-img fh5co-gallery_big" style="background-image: url({{ url_for('static', filename='images/cafe_acerca_1.jpg') }});" data-trigger="zoomerang"></div>
			</div>
		</div>
	</div>
</div>
<style>
    /* Opción 1: Apunta a cualquier clase de overlay que use la librería */
    .zoomerang-overlay, 
    .zoom-overlay, 
    .zoomerang-backdrop {
        background-color: rgba(0, 0, 0, 0.85) !important;
    }

    /* Opción 2: El truco definitivo. Si la librería mete el fondo blanco 
       directamente en el cuerpo de la página al activarse, esto lo pisa */
    [class*="zoom"] {
        background-color: rgba(0, 0, 0, 0.85) !important;
    }
    
    /* Aseguramos que la imagen en sí no se ponga negra */
    .fh5co-bg-img {
        background-color: transparent !important;
    }
</style>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/zoomerang.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (typeof Zoomerang !== 'undefined') {
            Zoomerang.listen('.fh5co-bg-img');
        }
    });
</script>

{% endblock %}
