{% extends 'base.html' %}

{% block title %}Kaifer &mdash; Home{% endblock %}

{% block header_banner %}
<div id="fh5co-header" class="fh5co-cover js-fullheight" style="background-image: url({{ url_for('static', filename='images/cafe_portada_1.jpeg') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="display-t js-fullheight">
					<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
						<h1>El mejor café <em> y </em> Restaurante <em>en</em> CABA</h1>
						<h2>Bienvenidos a Kaifer Cafetería</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

<div id="fh5co-about" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
				<img src="{{ url_for('static', filename='images/cafe_acerca_1.jpg') }}" alt="Kaifer Cafetería">
			</div>
			<div class="col-md-5 col-md-push-1 animate-box">
				<div class="section-heading">
					<h2>El Restaurante</h2>
					<p>
						Kaifer nació en el corazón de Palermo como un refugio para los verdaderos amantes del buen vivir. 
						Lo que comenzó como la simple búsqueda de la taza de café perfecta, pronto se transformó en un proyecto 
						apasionado que fusiona el arte del barismo de especialidad con una cocina honesta, creativa y artesanal.
					</p>
					<p>
						Creemos que los mejores momentos ocurren alrededor de una mesa. Por eso, cada rincón de nuestro espacio 
						está diseñado para ofrecerte una pausa en la rutina, donde los aromas tostados, la frescura de los 
						ingredientes seleccionados y la calidez de nuestro servicio se unen para crear una experiencia inolvidable.
					</p>
					<p><a href="{{ url_for('about') }}" class="btn btn-primary btn-outline">Nuestra Historia</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-featured-testimony" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Nuestra filosofía</h2>
				<div class="row">
					<div class="col-md-6">
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-md-5 animate-box img-to-responsive" data-animate-effect="fadeInLeft">
				<img src="{{ url_for('static', filename='images/acerca_2.jpg') }}" alt="">
			</div>
			<div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
				<blockquote>
					<p>&ldquo;El café cae en el estómago y de inmediato hay una conmoción general. Las ideas empiezan a moverse como batallones de un gran ejército en el campo de batalla... los pensamientos brillan.&rdquo;</p>
					<p class="author"><cite>&mdash; Honoré de Balzac</cite></p>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url({{ url_for('static', filename='images/fondo_reserva.jpg') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Reserva tu mesa</h2>
				<p>Tu mesa ideal en Palermo te está esperando. Reservá hoy mismo y asegúrate un momento único de tranquilidad, aroma y el mejor café de especialidad de la zona.</p>
				<p><a href="{{ url_for('reservas_bp.reservas') }}" class="btn btn-primary btn-outline">Reservar Ahora</a></p>
			</div>
		</div>
	</div>
</div>

<!-- APARTADO RESENIAS -->
<div class="row text-center fh5co-heading row-pb-md animate-box">
    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2>Lo que dicen nuestros clientes</h2>
		<div class="reviews-home-text">
			<p>
				<strong>¡Tu opinión nos importa!</strong><br>
				Contanos cómo fue tu visita a Kaifer y ayudanos a seguir creciendo.
				También podés leer las opiniones de otros clientes y conocer sus experiencias.<br>
				¡Cada opinión cuenta!.
			</p>
		</div>
		<div class="reviews-slider">
			{% for resena in resenas[:3] %}
			<div class="home-review-card">
				<p> "{{ resena.contenido }}" </p>
				<span> {{ resena.nombre }} {{ resena.apellido }} </span>
				<div class="home-stars">
					{% for i in range(resena.estrellas) %}
						★
					{% endfor %}
					{% for i in range(5 - resena.estrellas) %}
						☆
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
    </div>
</div>

<!-- BOTON VER RESENIAS -->
<div class="review-button-ver container">
    <a href="{{ url_for('reviews_bp.get_resenas') }}"
       class="btn btn-primary btn-outline">
        Ver más reseñas
    </a>
</div>

{% endblock %}


