{% extends 'base.html' %}

{% block title %}Kaifer &mdash; Iniciar sesión{% endblock %}

{% block header_banner %}
<div id="fh5co-header" class="fh5co-cover js-fullheight" style="background-image: url({{ url_for('static', filename='images/cafe_portada_1.jpeg') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="display-t js-fullheight">
					<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
						<h1>Tu mesa <em>está lista</em></h1>
						<h2>Nos alegra tenerte de vuelta</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="text-center fh5co-heading ">
					<h2>Iniciar sesión</h2>
				</div>
				<form action="{{ url_for('auth.login') }}" method="POST" class="form-login-custom">
					<div class="row form-group">
						<div class="col-md-12">
							<label for="email">Email</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="tu@email.com" required>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="password">Contraseña</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="••••••••" required>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-outline btn-lg btn-block">Iniciar sesión</button>
						</div>
					</div>
					<p class="text-center" style="margin-top:15px;">
						¿No tenés cuenta? <a href="{{ url_for('auth.register') }}">Registrate</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
